<!-- register.html -->

<!DOCTYPE html>
<html>
<head>
	<title>Sign up form</title>
</head>
<body>

<h1> Sign up form </h1>

<form action="/register" method="POST">
	<input type="text" name="fullname" placeholder="Full name" required>
	<input type="text" name="username" placeholder="Username" required>
	<input type="email" name="email" placeholder="Email ID" required>
	<input type="password" name="password" placeholder="Set Password" required>
	<input type="password" name="confirmPassword" placeholder="Confirm Password" required>
	<button>Submit</button>
</form>

<h1>This is home page</h1>

<ul>
	<li><a href="/register">Sign up!!</a></li>
	<li><a href="/login">Login</a></li>
	<li><a href="/logout">Logout</a></li>
</ul>

</body>
</html>
