<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>X2D | Main</title>
  <link rel="icon" type="image/x-icon" href="image/fevicon.ico" /> <!-- Include Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" /> <!-- Include Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <style>
    .tree ul {
      list-style-type: none;
      padding-left: 20px;
    }
    .tree li::before {
      content: '- ';
      cursor: pointer;
    }
    .tree li.expanded::before {
      content: '+ ';
    }
    .tree .collapse {
      display: none;
    }
    .edit-delete-buttons {
      display: none;
    }
    .tree li:hover .edit-delete-buttons {
      border: 10px;
     display: inline;
    }
    .edit-delete-buttons {
        display: none;
        padding: 4px 8px;
        font-size: 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 5px;
    }

    .edit-delete-buttons:hover {
        background-color: #f0f0f0;
    }

            /* Style for edit boxes */
            .edit-box {
            display: none;
        }

    /* (A) LIST TO MENU */
.trees, .section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.trees {
  background: #fbfbfb;
  border: 1px solid #d2d2d2;
}
.trees li {
  border-bottom: 1px solid #d2d2d2;
  padding: 15px 10px;
}
.trees li:last-child {
  border: 0;
}

/* For aside */
.treees{
  --spacing : 1.5rem;
  --radius  : 10px;
}

.treees li{
  display      : block;
  position     : relative;
  padding-left : calc(2 * var(--spacing) - var(--radius) - 2px);
}

.treees ul{
  margin-left  : calc(var(--radius) - var(--spacing));
  padding-left : 0;
}

.treees ul li{
  border-left : 2px solid #ddd;
}

.treees ul li:last-child{
  border-color : transparent;
}

.treees ul li::before{
  content      : '';
  display      : block;
  position     : absolute;
  top          : calc(var(--spacing) / -2);
  left         : -2px;
  width        : calc(var(--spacing) + 2px);
  height       : calc(var(--spacing) + 1px);
  border       : solid #ddd;
  border-width : 0 0 2px 2px;
}

.treees summary{
  display : block;
  cursor  : pointer;
}

.treees summary::marker,
.treees summary::-webkit-details-marker{
  display : none;
}

.treees summary:focus{
  outline : none;
}

.treees summary:focus-visible{
  outline : 1px dotted #000;
}

.treees li::after,
.treees summary::before{
  content       : '';
  display       : block;
  position      : absolute;
  top           : calc(var(--spacing) / 2 - var(--radius));
  left          : calc(var(--spacing) - var(--radius) - 1px);
  width         : calc(2 * var(--radius));
  height        : calc(2 * var(--radius));
  border-radius : 50%;
  background    : #ddd;
}

.treees summary::before{
  z-index    : 1;
  background : #696 url('expand-collapse.svg') 0 0;
}

.treees details[open] > summary::before{
  background-position : calc(-2 * var(--radius)) 0;
}


  </style>
  <script>
    async function populateXmlDropdown() {
      try {
        const response = await fetch('/getXmlIds');
        const xmlIds = await response.json();
        const dropdown = document.getElementById('xmlOptions');
  
        dropdown.innerHTML = '<option value="Select XML File">Select XML File</option>';
        xmlIds.forEach(xmlId => {
          dropdown.innerHTML += `<option value="${xmlId}">${xmlId}</option>`;
        });
      } catch (error) {
        console.error('Error fetching XML IDs:', error);
      }
    }


    //Extraction from dds xml
    async function extractAndDisplayInfo(xmlContent) {
  try {
    const parser = new DOMParser();
    const xmlDoc = parser.parseFromString(xmlContent, "text/xml");

    // Extract and display data types (entire <types> section)
    const typesNode = xmlDoc.querySelector("types");
    if (typesNode) {
      const typesXml = new XMLSerializer().serializeToString(typesNode);
      document.getElementById("dataTypesTextbox").value = typesXml;
    }

    // Extract domain library
    const domainLibraryNode = xmlDoc.querySelector("domain_library");
    if (domainLibraryNode) {
      const domainLibrary = new XMLSerializer().serializeToString(domainLibraryNode);
      document.getElementById("domainLibraryTextbox").value = domainLibrary;
    }

    // Extract participant library
    const participantLibraryNode = xmlDoc.querySelector("domain_participant_library");
    if (participantLibraryNode) {
      const participantLibraryXml = new XMLSerializer().serializeToString(participantLibraryNode);
      document.getElementById("participantLibraryTextbox").value = participantLibraryXml;
    }

    // Extract quality of service
    const qosLibraryNode = xmlDoc.querySelector("qos_library");
if (qosLibraryNode) {
  const qosLibraryXml = new XMLSerializer().serializeToString(qosLibraryNode);
  document.getElementById("qosLibraryTextbox").value = qosLibraryXml;
}
  } catch (error) {
    console.error("Error extracting and displaying info:", error);
  }
}
function formatXml(xml) {
  const PADDING = ' '.repeat(2); // Number of spaces for each level of indentation
  const reg = /(>)(<)(\/*)/g;
  let pad = 0;

  return xml
    .replace(reg, '$1\r\n$2$3')
    .split('\r\n')
    .map((node) => {
      let indent = 0;
      if (node.match(/.+<\/\w[^>]*>$/)) {
        indent = 0;
      } else if (node.match(/^<\/\w/)) {
        if (pad !== 0) {
          pad -= 1;
        }
      } else if (node.match(/^<\w[^>]*[^\/]>.*$/)) {
        indent = 1;
      } else {
        indent = 0;
      }

      pad = Math.max(pad, 0);
      return `${PADDING.repeat(pad)}${node}`;
    })
    .join('\r\n');
}

    //load xml content
    async function loadXmlContent(xmlId) {
    try {
      const response = await fetch(`/getXmlData?id=${xmlId}`);
      const xmlContent = await response.text(); // Fetch the XML content as text
      const xmlContentDiv = document.getElementById('xmlContent');
      xmlContentDiv.innerHTML = `<pre>${escapeHtml(xmlContent)}</pre>`; // Display XML content

      // show tree structure
      function createTree(xmlNode, parentElement, showAttributeValues, level) {
            const ul = document.createElement('ul');
            parentElement.appendChild(ul);

            let index = 0;
            for (const node of xmlNode.children) {
                const key = `xmlkey-${level}-${index}`;
                node.setAttribute('id', key);
                const li = document.createElement('li');
                li.setAttribute('id', key);
                li.setAttribute('showAttributeValues', showAttributeValues)
                const hasChildren = node.children.length > 0;
                if (hasChildren) {
                    li.classList.add('expandable');
                } else {
                    li.addEventListener('click', function (e) {
                        e.stopPropagation();
                    });
                }

                const nodeDiv = document.createElement('div'); // Create a div to contain node content
                nodeDiv.classList.add('node'); // Add the 'node' class to the div
                nodeDiv.setAttribute('id', key);
                const elementType = node.nodeName;
                const attributeName = node.getAttribute('name');
                const attributeValue = node.getAttribute('value');
                const attributeType = node.getAttribute('type'); // Get the type attribute

                if (showAttributeValues && attributeName && attributeValue) {
                    li.textContent = `${elementType} ${attributeType || ''} [${attributeName}=${attributeValue}]`;
                } else if (showAttributeValues) {
                    li.textContent = `${elementType} ${attributeType || ''} [${attributeName || ''}]`;
                } else {
                    li.textContent = attributeName || elementType;
                }

                const editButton = document.createElement('button');
                editButton.textContent = 'Edit';
                editButton.classList.add('edit-delete-buttons');
                editButton.addEventListener('click', function (e) {
                    e.stopPropagation();
                    // Implement your edit logic here
                    toggleEditBoxes(key, elementType); // Show edit boxes
                });

                const deleteButton = document.createElement('button');
                deleteButton.textContent = 'Delete';
                deleteButton.classList.add('edit-delete-buttons');
                deleteButton.addEventListener('click', function (e) {
                    e.stopPropagation();
                    // Implement your delete logic here
                    deleteNode(key); // Call the deleteNode function
                });

                ul.appendChild(editButton);
                ul.appendChild(deleteButton);

                ul.appendChild(li);

                if (hasChildren) {
                    createTree(node, li, showAttributeValues, `${level}-${index}`);
                }
                index++;
            }
        }

        function deleteNode(key) {
            const nodes = document.querySelectorAll(`[id=${key}]`);
            for (const node of nodes) {
                node.remove();
            }
        }

        function createEditBox(key, label, value) {
            const editBox = document.createElement('input');
            editBox.setAttribute('id', `${key}-${label.toLowerCase()}`);
            editBox.setAttribute('class', 'edit-box');
            editBox.setAttribute('placeholder', label);
            editBox.value = value || '';
            editBox.addEventListener('click', function (e) {
                e.stopPropagation();
            });

            return editBox;
        }

        function toggleEditBoxes(key, elementType) {
    const editBoxName = createEditBox(key, 'Name', '');
    const editBoxType = createEditBox(key, 'Type', '');
    const editBoxValue = createEditBox(key, 'Value', '');

    const saveButton = document.createElement('button');
    saveButton.textContent = 'Save';
    saveButton.classList.add('edit-delete-buttons');
    saveButton.addEventListener('click', function (e) {
        e.stopPropagation();
        saveEdits(key, elementType);
    });

    const li = document.querySelector(`#treeContainer2 [id="${key}"]`); // Select the element within the second tree
    li.appendChild(editBoxName);
    li.appendChild(editBoxType);
    li.appendChild(editBoxValue);
    li.appendChild(saveButton);

    editBoxName.style.display = 'block';
    editBoxType.style.display = 'block';
    editBoxValue.style.display = 'block';
}

function saveEdits(key, elementType) {
    const editBoxName = document.getElementById(`${key}-name`);
    const editBoxType = document.getElementById(`${key}-type`);
    const editBoxValue = document.getElementById(`${key}-value`);

    // Get the edited values from the edit boxes
    const editedName = editBoxName.value;
    const editedType = editBoxType.value;
    const editedValue = editBoxValue.value;

    // Update the node text with the edited values
    const nodes = document.querySelectorAll(`li [id=${key}]`);
    for(const node of nodes) {
        const showAttributeValues = node.getAttribute('showAttributeValues')
        if (showAttributeValues=='true' && editedName && editedValue) {
                    node.textContent = `${elementType} ${editedType || ''} [${editedName}=${editedValue}]`;
                } else if (showAttributeValues=='true') {
                    node.textContent = `${elementType} ${editedType || ''} [${editedName || ''}]`;
                } else {
                    node.textContent = editedName || elementType;
                }
    }

    // Hide the edit boxes and save button
    editBoxName.style.display = 'none';
    editBoxType.style.display = 'none';
    editBoxValue.style.display = 'none';
}

        const parser = new DOMParser();
        const xmlDoc = parser.parseFromString(xmlContent, 'application/xml');

        const treeContainer1 = document.getElementById('treeContainer1');
        const treeContainer2 = document.getElementById('treeContainer2');

        createTree(xmlDoc.documentElement, treeContainer1.querySelector('ul'), false, '0-0'); // First tree, no attribute values
        createTree(xmlDoc.documentElement, treeContainer2.querySelector('ul'), true, '0-0');  // Second tree, with attribute values

        const expandableNodes = document.querySelectorAll('.expandable');

        expandableNodes.forEach((node) => {
            node.addEventListener('click', function (e) {
                node.classList.toggle('expanded');
                node.childNodes[1].classList.toggle('collapse');

                // Prevent triggering collapse/expand when clicking children
                e.stopPropagation();
            });
        });

      extractAndDisplayInfo(xmlContent);
  
      // Add event listeners to each tag to toggle visibility
      const tags = xmlContentDiv.querySelectorAll('pre > *'); // Assuming tags are direct children of <pre>
      tags.forEach(tag => {
        tag.addEventListener('click', () => {
          toggleTagVisibility(tag);
        });
      });
    } catch (error) {
      console.error('Error loading XML content:', error);
    }
  }
  
  function toggleTagVisibility(tag) {
    const content = tag.querySelector(':scope > *'); // Assuming the tag's content is a direct child
    if (content) {
      content.classList.toggle('hidden'); // Add 'hidden' class to toggle visibility of content
    }
  }
  
  function escapeHtml(unsafe) {
    return unsafe
      .replace(/&/g, '&amp;')
      .replace(/</g, '&lt;')
      .replace(/>/g, '&gt;')
      .replace(/"/g, '&quot;')
      .replace(/'/g, '&#039;');
  }
  
    window.addEventListener('load', () => {
      populateXmlDropdown();
  
      const openXmlButton = document.getElementById('openXmlButton');
      const xmlOptions = document.getElementById('xmlOptions');
  
      openXmlButton.addEventListener('click', () => {
        const selectedXmlId = xmlOptions.value;
        if (selectedXmlId !== 'Select XML File') {
          loadXmlContent(selectedXmlId);
        }
      });
    });

  </script>
</head>

<body class="bg-gray-100">
  <!-- Navbar -->
  <nav class="bg-blue-500 py-4 px-8 flex items-center justify-between fixed-top w-full">
    <div class="flex items-center">
        <a href="home" class="flex items-center">
            <img src="image/logo-light.png" alt="Company Logo" class="h-8 w-8 mr-2" />
            <span class="text-white font-bold text-lg">XML2Design</span>
        </a>
        <div class="dropdown mx-4">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <label class="btn btn-secondary">
                    Choose File
                    <input type="file" name="xmlFile" accept=".xml" class="hidden">
                </label>
                <button type="submit" class="btn btn-primary ml-2">Upload XML</button>
            </form>
        </div>
        <div class="dropdown d-flex align-items-center">
            <select id="xmlOptions" class="form-select">
                <option value="Select XML File">Select XML File</option>
                <!-- XML file options will be dynamically populated here -->
            </select>
            <button id="openXmlButton" class="btn btn-primary ml-4">Open</button>
        </div>
    </div>
    <div class="flex items-center">
        <a href="about" class="text-white mr-4">About</a>
        <a href="home" class="text-white mr-4">Home</a>
        <a href="contact" class="text-white mr-4">Contact</a>
        <div class="mr-4"> <img src="image/logger.png" alt="logger" class="h-8 w-8" /> </div>
        <a href="login">
            <button class="text-white bg-blue-700 rounded px-4 py-2 hover:bg-blue-800 transition">Logout</button>
        </a>
    </div>
</nav>
  <div class="container mx-2 mt-20">
    <!-- Add mt-20 to create space for the fixed navbar -->
    <div class="row">
      <!-- Aside Content (1 column wide) -->
      <aside class="bg-gray-300 py-8 px-4 col-md-3  sticky-aside">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation"> <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#types" type="button" role="tab" aria-controls="pills-home" aria-selected="true" onclick="tab(1)"> Types </button> </li>
        </ul>
        <!-- Tree-like Content -->
        <div id="treeContainer1" class="tree">
          <ul class="treees">
            <li class="expandable">XML</li>
          </ul>
        </div>
      </aside> <!-- Home Page Content (5 columns wide on medium and larger screens) -->
      <main class="flex-1 p-8 col-md-5 main-content">
        <!-- Tab Buttons -->
        <!--types-->
        <div id="structured" hidden>
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation"> <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true"> View </button> </li>
            <li class="nav-item" role="presentation"> <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"> XML </button> </li>
            <li class="nav-item" role="presentation"> <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"> Structured </button> </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
              <div class="bg-blue-100 w-full p-2.5"> <button type="button" class="btn btn-secondary"> <i class="fa fa-expand"></i> Expand </button> <input type="text" placeholder="search.." aria-describedby="basic-addon2" style="width: 15em; padding: 0.5em; margin-left: 3em" /> <i class="fa fa-search" style="color: grey; margin-left: 1em; margin-right: 16vmax"></i> <button type="button" class="btn btn-secondary"> <i class="fa fa-arrow-up"></i>&nbsp; Move up </button> <button type="button" class="btn btn-secondary"> <i class="fa fa-arrow-down"></i>&nbsp; Move down </button> <button type="button" class="btn btn-secondary"> <i class="fa fa-plus-circle"></i> &nbsp;Add top </button> &nbsp; &nbsp; <i class="fa fa-question-circle"></i> &nbsp; &nbsp; </div>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Annotations</th>
                    <th scope="col">Locations</th>
                    <th scope="col">Edit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td> <button class="btn"> <i class="fa fa-pencil"></i> </button> <button class="btn"><i class="fa fa-trash"></i></button> <button class="btn"><i class="fa fa-plus"></i></button> </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!--domain-->
        <!--participant-->
        <div id="participant">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation"> <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#ddps" type="button" role="tab" aria-controls="pills-home" aria-selected="true"> View </button> </li>
            <li class="nav-item" role="presentation"> <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pxxml" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"> XML </button> </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="ddps" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">

              <ul class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation"> <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pubs" type="button" role="tab" aria-controls="pills-home" aria-selected="true"> Publications </button> </li>
                <li class="nav-item" role="presentation"> <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#subs" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"> Subscriptions </button> </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pubs" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                  <div class="bg-blue-100 w-full p-2.5" style="display: flex; justify-content: space-between"> <label>Data types</label>
                    <div> <button type="button" class="btn btn-secondary"> <i class="fa fa-pencil"></i> Edit </button> <button type="button" class="btn btn-secondary"> <i class="fa fa-plus-circle"></i> Add </button> <button type="button" class="btn btn-secondary"> <i class="fa fa-trash"></i> Delete </button> </div>
                  </div>
                  <div class="bg-blue-100 w-full p-2.5" style="display: flex; justify-content: space-between"> <label>Data types struct</label>
                    <div> <label>Qos</label> </div>
                  </div> <textarea id="dataTypesTextbox" class="form-control" style="height: 30vh" readonly></textarea>

                  <div class="bg-blue-100 w-full p-2.5" style="display: flex; justify-content: space-between"> <label>Domain library</label>
                    <div> <button type="button" class="btn btn-secondary"> <i class="fa fa-pencil"></i> Edit </button> <button type="button" class="btn btn-secondary"> <i class="fa fa-plus-circle"></i> Add </button> <button type="button" class="btn btn-secondary"> <i class="fa fa-trash"></i> Delete </button> </div>
                  </div>
                  <div class="bg-blue-100 w-full p-2.5" style="display: flex; justify-content: space-between"> <label>Domain library name</label> <label>Topic</label> <label>QOS</label> </div> <textarea id="domainLibraryTextbox" class="form-control" style="height: 20vh"  readonly></textarea>
                  <div class="bg-blue-100 w-full p-2.5" style="display: flex; justify-content: space-between"> <label>Participant library</label>
                    <div> <button type="button" class="btn btn-secondary"> <i class="fa fa-pencil"></i> Edit </button> <button type="button" class="btn btn-secondary"> <i class="fa fa-plus-circle"></i> Add </button> <button type="button" class="btn btn-secondary"> <i class="fa fa-trash"></i> Delete </button> </div>
                  </div>
                  <div class="bg-blue-100 w-full p-2.5" style="display: flex; justify-content: space-between"> <label>Participant library name</label>
                    <div> <label>Qos</label> </div>
                  </div> <textarea id="participantLibraryTextbox" class="form-control" style="height: 30vh" readonly>             
                </textarea>
                  <div class="bg-blue-100 w-full p-2.5" style="display: flex; justify-content: space-between"> <label>Quality of Service</label>
                    <div> <button type="button" class="btn btn-secondary"> <i class="fa fa-pencil"></i> Edit </button> <button type="button" class="btn btn-secondary"> <i class="fa fa-plus-circle"></i> Add </button> <button type="button" class="btn btn-secondary"> <i class="fa fa-trash"></i> Delete </button> </div>
                  </div>
                  <div class="bg-blue-100 w-full p-2.5" style="display: flex; justify-content: space-between"> <label>Quality of Service name</label> <label>Topic</label> <label>QOS</label> </div> <textarea id="qosLibraryTextbox" class="form-control" style="height: 20vh" aria-label="With textarea" readonly>   
                </textarea>
                </div>
                <div class="tab-pane fade" id="subs" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                  <div id="treeContainer2" class="tree">
                    <ul class="trees">
              
                      <li class="expandable">XML</li>
                    

                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pxxml" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
          <div class="bg-blue-100 w-full p-2.5"> <label class="mr-5">XML: FILE</label>
            <div class="btn-group dropdown-center" style="width: 78%"><select id="xmlOptions" class="form-select"> <option value="Select XML File" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> XML File </option></select>
              
            </div> <button type="button" class="btn btn-secondary"> <i class="fa fa-pencil"></i> Edit XML </button> &nbsp; &nbsp; <i class="fa fa-question-circle"></i> &nbsp;
          </div>
          <div class="input-group" id="xmlContent"> <textarea class="form-control" style="height: 80vh" aria-label="With textarea" readonly>
          </div>
        </div>
        </div>
    </div>
  </div>
  </main>
  </div>
  </div>
</body>

</html>